<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (population(); as populationRef) {
      <div>
        <h2 data-cy="populationDetailsHeading">
          <span>{{ populationRef.tableName }}</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <form [formGroup]="formGroup">
            <dt><span>Lignes</span></dt>
            <select name="" id="" formControlName="lignes">
              @for (ligne of decoupe(populationRef.attributNames); track $index) {
                <option [value]="ligne">{{ ligne }}</option>
              }
            </select>

            <dt><span>Colonnes</span></dt>
            <select name="" id="" formControlName="colonnes">
              @for (colonne of decoupe(populationRef.attributNames); track $index) {
                <option [value]="colonne">{{ colonne }}</option>
              }
            </select>
            <dd>
              <span>{{ populationRef.attributNames }}</span>
            </dd>
          </form>
        </dl>
        <hr />
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/population', populationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
