<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (population(); as populationRef) {
      <div>
        <h2 data-cy="populationDetailsHeading"><span>Population</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ populationRef.id }}</span>
          </dd>
          <dt><span>Table Name</span></dt>
          <dd>
            <span>{{ populationRef.tableName }}</span>
          </dd>
          <dt><span>Attribut Names</span></dt>
          <dd>
            <span>{{ populationRef.attributNames }}</span>
          </dd>
          <dt><span>Type Names</span></dt>
          <dd>
            <span>{{ populationRef.typeNames }}</span>
          </dd>
        </dl>
        <select name="" id="">
          @for (champ of champs(); track $index) {
            <option value="">{{ champ }}</option>
          }
        </select>
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/population', populationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
