<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (effectif(); as effectifRef) {
      <div>
        <h2 data-cy="effectifDetailsHeading"><span>Effectif</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ effectifRef.id }}</span>
          </dd>
          <dt><span ngbTooltip=";;;;;;;">Name</span></dt>
          <dd>
            <span>{{ effectifRef.name }}</span>
          </dd>
          <dt><span>Cumul</span></dt>
          <dd>
            <span>{{ effectifRef.cumul }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Retour</span>
        </button>

        <button type="button" [routerLink]="['/effectif', effectifRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editer</span>
        </button>
      </div>
    }
  </div>
</div>
